@{
    ViewData["Title"] = "Index";
}
@model List<Product>

<div class="main-panel">
    <div>
        <a asp-area="Manage" asp-controller="Product" asp-action="Create" class="btn btn-success">Create new product</a>
    </div>
   
    <div class="table-responsive pt-3">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Stock Count
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Settings
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product product in Model)
                {
                    <tr>
                        <td>
                            @product.Name
                        </td>
                        <td>
                            @product.SellPrice
                        </td>
                        <td>
                            @product.StockCount
                        </td>
                        <td>
                            <img style="width:150px !important; height:150px; object-fit:contain" src="~/assets/images/products/@product.ProductImages.FirstOrDefault(p=>p.Status==true)?.ImageUrl" alt="" />
                        </td>
                        <td class="d-flex">
                            <div>
                                <a asp-area="Manage" asp-controller="Product" asp-action="Update" asp-route-id="@product.Id" class="btn btn-warning">
                                    <i class="mdi mdi-border-color"></i>
                                </a>
                            </div>
                            <div>
                                <a asp-area="Manage" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">
                                    <i class="mdi mdi-delete"></i>
                                </a>
                            </div>
                        </td>

                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>